terraform/modules/data-pipelines/tfl-pipeline/tfl-txc-generator-state-machine.asl.json
{
    "Comment": "Map over TfL Line IDs and generate TxC",
    "StartAt": "Retrieve TfL Data",
    "States": {
        "Retrieve TfL Data": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${tfl_timetable_retriever_function_arn}:$LATEST"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ],
            "Next": "Get Zipped TfL Keys",
            "OutputPath": "$.Payload"
        },
        "Get Zipped TfL Keys": {
            "Type": "Map",
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Unzip TfL Data",
                "States": {
                    "Unzip TfL Data": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Parameters": {
                            "FunctionName": "${tfl_timetable_unzipper_function_arn}:$LATEST",
                            "Payload": {
                                "Records": [
                                    {
                                        "s3": {
                                            "bucket": {
                                                "name": "${tfl_timetable_zipped_bucket_name}"
                                            },
                                            "object": {
                                                "key.$": "$.Key"
                                            }
                                        }
                                    }
                                ]
                            }
                        },
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException",
                                    "Lambda.TooManyRequestsException"
                                ],
                                "IntervalSeconds": 1,
                                "MaxAttempts": 3,
                                "BackoffRate": 2
                            }
                        ],
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:listObjectsV2",
                "Parameters": {
                    "Bucket.$": "$.tflTimetableZippedBucketName",
                    "Prefix.$": "$.prefix"
                }
            },
            "ResultPath": null,
            "Next": "Get TfL Object Keys"
        },
        "Get TfL Object Keys": {
            "Type": "Map",
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Process TfL Data",
                "States": {
                    "Process TfL Data": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Parameters": {
                            "FunctionName": "${tfl_timetable_processor_function_arn}:$LATEST",
                            "Payload": {
                                "Records": [
                                    {
                                        "s3": {
                                            "bucket": {
                                                "name": "${tfl_timetable_bucket_name}"
                                            },
                                            "object": {
                                                "key.$": "$.Key"
                                            }
                                        }
                                    }
                                ]
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:listObjectsV2",
                "Parameters": {
                    "Bucket": "${tfl_timetable_bucket_name}",
                    "Prefix.$": "$.prefix"
                }
            },
            "MaxConcurrency": 25,
            "ResultPath": null,
            "Next": "Get Line IDs"
        },
        "Get Line IDs": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "FunctionName": "${tfl_txc_line_id_retriever_function_arn}:$LATEST"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ],
            "Next": "Map Line IDs"
        },
        "Map Line IDs": {
            "Type": "Map",
            "MaxConcurrency": 20,
            "ItemProcessor": {
              "ProcessorConfig": {
                "Mode": "INLINE"
              },
              "StartAt": "Generate TxC",
              "States": {
                "Generate TxC": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "OutputPath": "$.Payload",
                  "Parameters": {
                    "FunctionName": "${tfl_txc_generator_function_arn}:$LATEST",
                    "Payload.$": "$"
                  },
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                      ],
                      "IntervalSeconds": 1,
                      "MaxAttempts": 1,
                      "BackoffRate": 2,
                      "JitterStrategy": "FULL"
                    }
                  ],
                  "End": true
                }
              }
            },
            "End": true
        }
    }
}
