terraform/modules/tnds-analyser/tnds-analysis-state-machine.asl.json
{
  "Comment": "Analyse today's TNDS data and generate a CSV report",
  "StartAt": "Clear Down Table",
  "States": {
    "Clear Down Table": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${tnds_analysis_cleardown_function_arn}:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Get TNDS TXC Object Keys"
    },
    "Get TNDS TXC Object Keys": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "Process TNDS TXC",
        "States": {
          "Process TNDS TXC": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${tnds_analyser_function_arn}:$LATEST",
              "Payload": {
                "Records": [
                  {
                    "s3": {
                      "bucket": {
                        "name": "${tnds_txc_bucket_name}"
                      },
                      "object": {
                        "key.$": "$.Key"
                      }
                    }
                  }
                ]
              }
            },
            "End": true
          }
        }
      },
      "ItemReader": {
        "Resource": "arn:aws:states:::s3:listObjectsV2",
        "Parameters": {
          "Bucket": "${tnds_txc_bucket_name}",
          "Prefix.$": "$.prefix"
        }
      },
      "MaxConcurrency": 50,
      "ToleratedFailureCount": 10,
      "ResultPath": null,
      "Next": "Generate TNDS Report"
    },
    "Generate TNDS Report": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${tnds_reporter_function_arn}:$LATEST",
        "Payload": {}
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}
